<header class="mb-4">
  <nav class="navbar navbar-light navbar-expand-md py-4">
    <%= link_to "ながのCAKE", root_path, class: "navbar-brand border px-4 py-2 text-dark mb-4 mb-md-0" %>

    <div class="collapasee navbar-collapse mx-0 d-flex flex-column  ">
      <%# 未実装のリンクは # とする %>
      <ul class="navbar-nav ml-auto flex-sm-row mb-3">
        <%# adminのリンクここから %>
        <% if admin_signed_in? %>

          <li class="nav-item mr-4">
            <%= link_to "商品一覧", admin_items_path, class: "border rounded p-2 nav-link text-dark" %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "会員一覧", admin_customers_path, class: "border rounded p-2 nav-link text-dark" %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "注文履歴一覧", "#", class: "border rounded p-2 nav-link text-dark" %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "ジャンル一覧", admin_genres_path, class: "border rounded p-2 nav-link text-dark" %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "ログアウト", destroy_admin_session_path, class: "border rounded p-2 nav-link text-dark", method: :delete %>
          </li>
        
        <%# customerのリンクここから %>
        <% elsif customer_signed_in? %>

          <li class="nav-item mr-4">
            <%= link_to "マイページ", customer_path, class: "border rounded p-2 nav-link text-dark" %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "商品一覧", items_path, class: "border rounded p-2 nav-link text-dark" %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "カート", "#", class: "border rounded p-2 nav-link text-dark" %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "ログアウト", destroy_customer_session_path, class: "border rounded p-2 nav-link text-dark", method: :delete %>
          </li>

        <%# 未ログインユーザここから %>
        <% else %>

          <li class="nav-item mr-4">
            <%= link_to "About", about_path, class: "border rounded p-2 nav-link text-dark" %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "商品一覧", items_path, class: "border rounded p-2 nav-link text-dark" %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "新規登録", new_customer_registration_path, class: "border rounded p-2 nav-link text-dark" %>
          </li>
          <li class="nav-item mr-4">
            <%= link_to "ログイン", new_customer_session_path, class: "border rounded p-2 nav-link text-dark" %>
          </li>

        <% end %>
      </ul>
      <%# 検索フォームここから %>
      <div class="ml-auto mr-4">
        <% if admin_signed_in? %>

          <%= render 'layouts/shared/search-form', form_url: admin_items_path %>

        <% else %>
          
          <%= render 'layouts/shared/search-form', form_url: items_path %>

        <% end %>
      </div>
    </div>
  </nav>

  <hr class="my-0">
</header>