<h2 class="d-inline-block bg-light mx-4 px-4 mb-5">管理者ログイン</h2>

<div class="row px-4">
  <%= form_with model: @admin, url: admin_session_path, class: "col-12" do |f| %>
    <div class="row mb-4 justify-content-center">
      <%= f.label :email, "メールアドレス", class: "col-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-6", placeholder: "sample@example.com"%>
    </div>

    <div class="row mb-5 justify-content-center">
      <%= f.label :password, "パスワード", class: "col-2" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-6" %>
    </div>

    <div class="row justify-content-center">
      <span class="col-2"></span>
      <div class="col-6 px-0">
        <%= f.submit "ログイン", class: "btn btn-primary col-4" %>
      </div>
    </div>
  <% end %>
</div>
