<div class="row mb-3" style="min-height: 400px">
  <div class="col-3">
    <%= render 'public/items/shared/genre', genres: @genres %>
  </div>
  <div class="col-9 p-5 d-flex align-items-center">
    <div class="border border-dark py-4 w-75 mx-auto">
      <p class="mb-0">ようこそ、ながのCAKEへ！</p>
      <p class="mb-0">このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
  </div>
  
  <div class="col-9">
    <h2 class="mb-3">新着商品</h2>
    <div class="row mb-3">
      <% @items.each do |item| %>
        <div class="col-3">
          <%= link_to item_path(item.id), class: "text-dark" do %>
            <%= image_tag item.get_image, class: "w-100 mb-2" %>
            <%= item.name %><br>
          <% end %>
          <%= number_to_currency(item.price, unit: "￥", format: "%u%n", strip_insignificant_zero: true) %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to "全ての商品を見る＞", items_path ,class: "col text-right" %>
</div>