<h2 class="d-inline-block bg-light mx-5 px-4 mb-4">ジャンル一覧・追加</h2>

<%= form_with model: @genre, url: admin_genres_path, class: "row align-items-center py-4" do |f| %>
  <div class="col-12">
    <% if @genre.errors.any? %>
      <% @genre.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
  </div>

  <div class="col-2">
    <%= f.label :name, "ジャンル名", class: "mb-0" %>
  </div>
  <div class="col-3 mr-5">
    <%= f.text_field :name, placeholder: "ジャンル名", class: "form-control" %>
  </div>
  <div class="col-3">
    <%= f.submit "新規登録", class: "btn btn-success font-weight-bold px-3" %>
  </div>
<% end %>

<div class="row">
  <table class="col-5">
    <thead class="bg-light border-top border-bottom">
      <tr>
        <th class="py-2 pl-4">ジャンル</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
        <tr class="border-bottom">
          <th><%= genre.name %></th>
          <th><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success p-2" %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>