<h2 class="d-inline-block bg-light mx-5 px-4 mb-5">注文履歴詳細</h2>

<div class="row">
  <%# 注文情報 %>
  <div class="col-8">
    <h4 class="mb-3">注文情報</h4>
    <table class="table table-bordered">
      <%# 注文日 %>
      <tr>
        <th scope="row" class="col-3 bg-light border-dark">注文日</th>
        <td class="col-8 border-dark"><%= @order.formatted_created_at %></td>
      </tr>

      <%# 配送先 %>
      <tr>
        <th scope="row" class="col-3 bg-light border-dark">配送先</th>
        <td class="col-8 border-dark">
          <%= @order.postal_code %><br>
          <%= @order.address %><br>
          <%= @order.name %>
        </td>
      </tr>

      <%# 支払方法 %>
      <tr>
        <th scope="row" class="col-3 bg-light border-dark">支払方法</th>
        <td class="col-8 border-dark"><%= @order.payment_method_i18n %></dd>
      </tr>

      <%# ステータス %>
      <tr>
        <th scope="row" class="col-3 bg-light border-dark">ステータス</th>
        <td class="col-8 border-dark"><%= @order.status_i18n %></td>
      </tr>
    </table>
  </div>

  <%# 請求情報 %>
  <div class="col-4">
    <h4 class="mb-3">請求情報</h4>
    <table class="table table-bordered">
      <%# 商品合計 %>
      <tr>
        <th scope="row" class="col-7 bg-light border-dark">商品合計</th>
        <td class="col-5 border-dark"><%= number_to_currency(@order.only_payment, unit: "", strip_insignificant_zeros: true) %></td>
      </tr>

      <%# 配送料 %>
      <tr>
        <th class="col-7 bg-light border-dark" scope="row">配送料</th>
        <td class="col-5 border-dark"><%= number_to_currency(@order.shipping_cost, unit: "", strip_insignificant_zeros: true) %></td>
      </tr>

      <%# 請求額 %>
      <tr>
        <th class="col-7 bg-light border-dark" scope="row"><b>ご請求額</b></th>
        <td class="col-5 border-dark"><%= number_to_currency(@order.total_payment, unit: "", strip_insignificant_zeros: true) %></td>
      </tr>
    </table>
  </div>
</div>

<%# 注文情報 %>
<div class="row">
  <div class="col-10">
    <h4 class="mb-3">注文情報</h4>

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th class="border-dark">商品</th>
          <th class="border-dark">単価（税込）</th>
          <th class="border-dark">個数</th>
          <th class="border-dark">小計</th>
        </tr>
      </thead>

      <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td class="border-dark"><%= order_detail.item.name %></td>
            <td class="border-dark"><%= order_detail.get_price_with_tax %></td>
            <td class="border-dark"><%= order_detail.amount %></td>
            <td class="border-dark"><%= order_detail.get_total_price_with_tax %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>