<h2 class="d-inline-block bg-light px-4 mb-5 mx-4">ログイン</h2>

<div class="row mb-4 px-5">
  <h4 class="d-inline-block bg-light px-2 mb-4 mx-2">会員の方はこちらからログイン</h4>
  <%= form_with model: @customer, url: customer_session_path, class: "col-12" do |f| %>
    <div class="row mb-3">
      <%= f.label :email, "メールアドレス", class: "col-4" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-8 col-lg-6", placeholder: "sample@example.com" %>
    </div>

    <div class="row mb-4">
      <%= f.label :password, "パスワード", class: "col-4" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-8 col-lg-6" %>
    </div>

    <div class="row">
      <span class="col-4"></span>
      <%= f.submit "ログイン", class: "btn btn-primary col-4 col-lg-2" %>
    </div>
  <% end %>

</div>

<div class="row mb-5 px-5">
  <h4 class="d-inline-block bg-light px-2 mb-4 mx-2">会員登録がお済でない方</h4>
  <p class="col-12 px-4">
    <%= link_to "こちら", new_customer_registration_path, class: "mx-4" %>から新規登録を行ってください。
  </p>
</div>
