<div class="row">
  <div class="col-4">
    <%# ジャンル機能 %>
  </div>
  <div class="col-8">
    <div class="row mx-0">
      <div class="col-4">
        <%= image_tag @item.get_image, class: "mw-100" %>
      </div>
      <div class="col-8">
        <h2 class="mb-3"><%= @item.name %></h2>
        <p class="mb-5"><%= @item.introduction %></p>
        <p class="mb-4">￥<%= @item.get_price_with_tax %><span>(税込)</span></p>
        <%= render 'layouts/shared/errors', model: @cart_item %>
        <%= form_with model: @cart_item, class: "d-flex justify-content-around" do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select(:amount, 1..10, {include_blank: "個数選択"}, {class: "form-control w-auto"}) %>
          <%= f.submit "カートに入れる", class: "btn btn-success px-3 py-1" %>
        <% end %>
      </div>
    </div>
  </div>
</div>